<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/lib/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <title>Экспертная система</title>
</head>
<body>
<div id="app" class="wrapper">
    <div id="task" class="bottom-margin">
        <h1>{{ system.label }}</h1>
        <div class="big-font">{{ system.text }}</div>
    </div>

    <div id="inputVars" class="container-fluid bottom-margin">
        <h1 class="row">Входные переменные</h1>
        <div class="row container">
            <div v-for="inputVar in inputVars" class="col">
                <in-variable :dddata="inputVar" @needDrawPlot="drawThisPlot"></in-variable>
            </div>
        </div>
    </div>
    <div id="outputVars" class="container-fluid bottom-margin">
        <h1 class="row">Выходные переменные</h1>
        <div class="row container">
            <div v-for="outputVar in outputVars" class="col">
                <out-variable :dddata="outputVar"></out-variable>
            </div>
        </div>
    </div>
    <button v-on:click="solve" class="left-margin btn btn-primary big-font bottom-margin text-center">Рассчитать</button>
    <div id="rules" class="container-fluid">
        <h1 class="row">Правила</h1>
        <div v-for="rule in system.rules" class="row big-font card card-outline-primary mb-3 text-center">
            {{ rule }}
        </div>
    </div>
    <modal v-show="showModal" @close="showModal = false; window.location.reload(true);">
        <div slot="body" id="plot-surface"></div>
    </modal>
</div>

<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button class="btn btn-danger" @click="$emit('close')">X</button>
                    <div class="modal-body">
                        <slot name="body">
                            BODY
                        </slot>
                    </div>

                </div>
            </div>
        </div>
    </transition>
</script>
<script src="/static/js/lib/jquery-3.2.1.slim.min.js"></script>
<script src="/static/js/lib/popper.min.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/vue2.4.4.min.js"></script>
<script src="/static/js/lib/plotly-1.5.0-min.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
